#goals {
  position: absolute;
  width: 117px;
  height: 18px;
  left: 16px;
  top: 16px;

  /* Semibold 12 */

  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  /* gray */

  color: #red;
}


#title-goal {
  position: absolute;
  height: 20px;
  left: 42px;
  right: 64px;
  bottom: 15px;

  /* Regular 14 */

  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.2px;

  /* gray */
  color: #a6aab4;
}

#value-goal {
  position: absolute;
  width: 81px;
  height: 34px;
  right: 1px;
  top: calc(50% - 34px / 2);
  margin-top: -5px;
  /* Semibold 14 */

  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2px;

  /* dark gray */

  color: #757f8c;
}


.img-fluid-goals{
  margin-top: -13px;
  }